<header>
 <nav class="navbar navbar-expand-sm border-bottom">
   <div class="container">
    <a class="navbar-brand" href="/home">🌎</a>

     <button
       class="navbar-toggler"
       type="button"
       data-bs-toggle="collapse"
       data-bs-target="#navbar-collapse"
       aria-controls="navbar"
       aria-expanded="false"
       aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <!-- LEFT -->
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/discover">Discover</a>
          </li>
        </ul>

        <!-- RIGHT -->
        <ul class="navbar-nav ms-auto">
          {{#if logged}}
          <li class="nav-item">
            <a class="nav-link" href="/account">Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Log-In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
          </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
</header>
